
.sectionContainer {
    width: 100vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .formContainer {
        border-radius: 10px;
        box-shadow: 5px 5px 10px #607d8b;
        padding: 1em;
    }

    .editEmployeeForm {
        width: max-content;
        height: max-content;
    }

    .buttonsContainer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 3em 0 0 0;
    }
}