.employeeListContainer {
    overflow-y: scroll;
    height: 80vh;
}

.bodyContainer {
    width: 100%;
    padding: 0 1em;
}

.noEmployeeBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    

    h3 {
        color: var(--employee-card-blue);
        font-weight: 700;
        font-size: 1.5em;
    }
}