.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 10vh;
    background-color: var(--employee-card-blue);
    
    .logoutButton {
        margin: 0 1em 0 0;

        @media only screen and (max-width: 991.98px) {
            margin: 0;
        }
    }

    
    .title {
        color: #ffffff;
    }
}
